{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Tasks</title>
    <link rel="stylesheet" href="{% static 'css/styleteacher.css' %}">
</head>
<body>
    {% include 'navbar_admin.html' %}
    <div class="page-container">
        <main>
            <div>
                <h1>Your Created Tasks</h1>
                
                <label for="priorityFilter">Filter by Priority:</label>
                <select id="priorityFilter">
                    <option value="all">All</option>
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                </select>
                
                <table id="taskTable" class="task-list">
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Priority</th>
                            <th>Due Date</th>
                            <th>Teacher</th>
                            <th>Review task details</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </main>
    </div>
    <script src="{% static 'js/ad.js' %}"></script>
</body>
</html>