{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Details</title>
    <link rel="stylesheet" href="{% static 'css/styleteacher.css' %}">
</head>
<body>
    <div class="page-container">
        <main>
            <div>
                <h1 id="taskTitleHeader">Task Details</h1>
                <div class="about-Assignment">
                </div>
            </div>
        </main>
    </div>
    <script src="{% static 'js/ad.js' %}"></script>
    <script src="{% static 'js/teacherJ.js' %}"></script>
</body>
</html>